NODE_ENV="development"

AMQP_STORE_SRV_COMMAND_QUEUE="store_srv.command.queue"
AMQP_STORE_SRV_EVENT_QUEUE="store_srv.event.queue"
AMQP_EVENTS_EXCHANGE="event.exchange"

AMQP_PORT=5672
AMQP_HOSTNAME="localhost"
AMQP_USERNAME="admin"
AMQP_PASSWORD="admin"

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="admin"
DATABASE_PASSWORD="admin"
DATABASE_DATABASE_NAME="store_srv"

OUTBOX_PUBLISH_INTERVAL_MS=1000
OUTBOX_METRICS_INTERVAL_MS=30000
OUTBOX_BATCH_SIZE=50
OUTBOX_MAX_ATTEMPTS=10
OUTBOX_RETRY_BASE_DELAY_MS=1000
OUTBOX_RETRY_MAX_DELAY_MS=60000
OUTBOX_PROCESSING_TIMEOUT_MS=60000
OUTBOX_PUBLISH_TIMEOUT_MS=5000
