NODE_ENV="development"

AMQP_STORE_SRV_COMMAND_QUEUE="store_srv.command.queue"
AMQP_STORE_SRV_EVENT_QUEUE="store_srv.event.queue"
AMQP_EVENTS_EXCHANGE="event.exchange"

AMQP_PORT=5672
AMQP_HOSTNAME="localhost"
AMQP_USERNAME="admin"
AMQP_PASSWORD="admin"

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="admin"
DATABASE_PASSWORD="admin"
DATABASE_DATABASE_NAME="store_srv"
